.spinner {
  aspect-ratio: 1;
  height: 100%;
  border: 5px solid rgb(var(--color_blue));
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
