:root {
  //neutral
  --colors_white: 255, 255, 255;
  --colors_gray_41: 41, 45, 50;
  --colors_black: 0, 0, 0;

  //red
  --color_red: 232, 26, 12;

  //green
  --color_green: 3, 156, 85;

  //blue
  --color_blue: 44, 129, 251;

  //violet
  --color_violet: 112, 43, 254;
}
