$root: '.icon';

#{$root} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  stroke: currentColor;
  color: inherit;
  &.reset-size {
    width: unset;
    height: unset;
  }
  &.primary {
    stroke: rgb(var(--colors_gray_40));
  }
  &.neutral {
    stroke: rgb(var(--colors_white));
  }
}
